
/*Universal styles*/
body{
    background-color: black;
    font-family: "Helvetica";
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
}

div{
    display: block;
}

nav span .nav{
    display: inline-block;
    padding: 20px 10px;
}

h2{
    font-family: "Helvetica";
    color: seashell;
    font-style: bold;
    opacity: 0.9;
    margin-top: 10px;
    margin-bottom: 0px;
}

h3{
    font-family: "Helvetica";
    color: seashell;
    opacity: 0.9;
    font-size: 22px;
    margin-bottom: 10px;
}



/*header*/
header{
   display: flex;
   align-items: center;
   position: fixed;
   background-color: black;
   z-index: 1;
   width: 100%;
   height: 69 px;
   top: 0px;
   border-bottom: 1px solid seashell;
}

.logo{
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
}

li{
    float: right;
    list-style-type: none;
    padding: 10px 20px;
}

a:link, a:visited{
    color: seashell;
    opacity: 0.9;
    text-decoration: underline;
}

/*main container*/

.main container{
    display: flex;
    flex-direction: column;
}

/*large container*/
#mission {
    display: flex;
    flex-direction: row;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
    width: 1200px;
    height: 700px;
    align: center;
    margin: 0 auto;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin: auto 0;
    background-color: black;
    color: seashell;
}

#featured{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.variety{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;  
    height: 700px;
    width: 1000px;
    margin: auto;
}

.item-footer{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}



/*items*/

.item2{
    display:flex;
    flex-direction: column;
    background-color: black;
    width: 300px;
    align-content: space-around;
   }

/*locations*/

#locations{
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
    width: 1200px;
    height: 500px;
    padding-top: 70px;
    align-items: center;
    margin: 0 auto;
}

.location{
    opacity: 1.0;
    padding: 10px;
    margin: 5px 20px;
    background-color: black;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-container.locations{
    padding-top: 15px;
    justify-content: center;
}

.flex-container{
    display:flex;
    justify-content: wrap;
    flex-wrap: wrap
}
.item{
    opacity: 1.0;
    padding: 10px;
    margin: 5px 20px;
    flex-basis: 280px;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
}

#contact{
    height: 200px;
}

footer{
    text-align: left;
    padding-left: 20px;
}