
/*Universal styles*/
body{
    background-color: black;
    font-family: "Helvetica";
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
}

nav span .nav{
    display: inline-block;
    padding: 20px 10px;
}

h2{
    font-family: "Helvetica";
    color: seashell;
    font-style: bold;
    opacity: 0.9;
    margin-top: 10px;
    margin-bottom: 0px;
}

h3{
    font-family: "Helvetica";
    color: seashell;
    opacity: 0.9;
    font-size: 22px;
    margin-bottom: 10px;
}


/*header*/
header{
   display: flex;
   align-items: center;
   position: fixed;
   background-color: black;
   z-index: 1;
   width: 100%;
   height: 69 px;
   top: 0px;
   border-bottom: 1px solid seashell;
}

.logo{
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
}

li{
    float: right;
    list-style-type: none;
    padding: 10px 20px;
}

a:link, a:visited{
    color: seashell;
    opacity: 0.9;
    text-decoration: underline;
}

/*main container*/

.main container{
    display: flex;
    flex-direction: column;
}

/*large container*/
.container1 {
    display: flex;
    flex-direction: row;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
    width: 1200px;
    height: 700px;
    align: center;
    margin: 0 auto;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin: auto 0;
    background-color: black;
    color: seashell;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
